@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(184, 172, 172);
  color:blueviolet;
  text-align: center;
  margin-top: 100px;
}
